{
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": true,
  "jsxSingleQuote": true,
  "singleAttributePerLine": true,
  "semi": false,
  "trailingComma": "none",
  "bracketSameLine": false,
  "proseWrap": "always",
  "arrowParens": "avoid"
}